/* Calendar container styles */

/* Color Palette */
:root {
    --primary: #C3D3D7; /* Light Gray */
    --secondary: #929B38; /* Olive Green */
    --accent: #594C33; /* Dark Brown */
    --background: #F1E7D6; /* Light Beige */
    --cta: #E64725; /* Red */
    --white: #FFFFFF; /* White */
    --black: #010101; /* Black */

    /* Typography */
    --font-primary: 'Montserrat', sans-serif;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-body: 1.125rem;
    --font-size-small: 0.95rem;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --line-height-body: 1.6;
}
.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
    gap: 5px;
    font-family: Arial, sans-serif;
    background-color: var(--primary); /* Set the primary color as the background for the calendar */
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't overflow its container */
    box-sizing: border-box;
    margin: 0 auto; /* Center the calendar horizontally */
    overflow: hidden; /* Prevent overflow beyond the container */
  }
  
  /* Make each day box uniform in size */
  .calendar-day,
  .calendar-day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    height: 50px; /* Adjust height for consistency */
    width: 50px; /* Ensure each day box is square and consistent */
    box-sizing: border-box;
    font-weight: bold;
  }
  
  .calendar-day-name {
    background-color: #f7f7f7;
    color: var(--black); /* Dark text color for the weekday names */
    border-radius: 5px;
  }
  
  .calendar-day.empty-day {
    background-color: #f0f0f0; /* Light gray for empty days */
  }
  
  .calendar-day.reserved {
    background-color: #594C33; /* Reserved days background color */
    color: white;
  }
  
  .calendar-day.available {
    background-color: #929B38; /* Available days background color */
    color: white;
  }
  
  /* Legend styles */
  .legend {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .legend-color.reserved {
    background-color: #594C33;
  }
  
  .legend-color.available {
    background-color: #929B38;
  }
  